url: style.css
---
$max-page-width: 700px;
$dark-color: #2C3E50;
$light-color: #ECF0F1;
$detail-color: #E74C3C;

body {
    background-color: $light-color;
    color: $dark-color;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

a {
    color: $detail-color;
    text-decoration: none;
}

a h1 {
    color: $dark-color;
}

hr {
    color: mix($light-color, $dark-color);
}

header {
    background: $dark-color;
    color: $light-color;
    text-align: left;
}

.header-container {
    margin: auto;
    max-width: $max-page-width;
    padding: 20px 10px;

    img {
        max-height: 60px;
        max-width: 100%;
    }
}

.container {
    background-image: linear-gradient(rgba($dark-color, 0.4), rgba($dark-color, 0));
    background-image: -webkit-linear-gradient(top, rgba(44,62,80,0.4), rgba(44,62,80,0));
    background-repeat: repeat-x;
    background-size: auto 20px;
    padding-top: 20px;
}

.content {
    margin: auto;
    max-width: $max-page-width;
    padding: 0 10px;
}

.posted-date {
    color: mix($light-color, $dark-color);
    font-size: 1rem;
}

h1 {
    line-height: 1;
    margin-bottom: 1rem;
}

pre {
    max-width: $max-page-width;
    overflow: auto;
}

ul li {
    list-style-type: circle;
}

footer {
    margin: auto;
    max-width: $max-page-width;
    text-align: center;
    font-size: 15px;
}
