<!doctype html>
<html lang='en'>
    <head prefix='og: http://ogp.me/ns#'>
        <meta charset='UTF-8'>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name='description' content='The personal website and blog for Jeppe Toustrup about open source technologies and photography.'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='/style.css'>
        <link rel='logo' href='/images/favicon.svg' type='image/svg+xml'>
        <link rel='icon' href='/images/favicon.svg' sizes='any' type='image/svg+xml'>
        <link rel='icon' href='/images/favicon.png' sizes='128x128' type='image/png'>
        <link rel='icon' href='/favicon.ico' sizes='16x16 32x32 48x48 64x64' type='image/x-icon'>
        <link rel='alternate' href='/feed.atom' type='application/atom+xml' title='Tenzer.dk Atom Feed'>
        <link rel='alternate' href='/feed.rss' type='application/rss+xml' title='Tenzer.dk RSS Feed'>
        <meta property='og:type' content='website'>
        <meta property='og:site_name' content='Tenzer.dk'>
        <meta property='og:image' content='http://{{ site.domain }}/images/logo.png'>
        <meta property='og:url' content='http://{{ site.domain }}{% if page.url.startswith('/') %}{{ page.url }}{% else %}/{% endif %}'>
        <meta property='og:title' content='{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}'>
        <meta name='twitter:card' content='summary'>
        <meta name='twitter:site' content='@Tenzer'>
        <meta name='twitter:title' content='{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}'>
        <meta name='twitter:image' content='http://{{ site.domain }}/images/logo.png'>
        {% if page.type == 'blog' %}
            <meta property='og:description' content='{{ page.content|striptags|truncate(250) }}'>
            <meta name='twitter:description' content='{{ page.content|striptags|truncate(250) }}'>
        {% else %}
            <meta property='og:description' content='The personal website and blog for Jeppe Toustrup about open source technologies and photography.'>
            <meta name='twitter:description' content='The personal website and blog for Jeppe Toustrup about open source technologies and photography.'>
        {% endif %}
    </head>
    <body>
        <header>
            <div class='header-container'>
                <a href='/'>
                    <img id='logo' src='/images/tenzerdk.png' alt='Tenzer.dk logo'>
                </a>
                <nav>
                {% for item in ['blog', 'projects', 'about'] %}
                    {% if page.active_menu == item %}
                        <a href='/{% if item != 'blog' %}{{ item }}/{% endif %}' class='active'><img src='/images/{{ item }}-active.png' alt='{{ item|capitalize }} menu icon'><span> {{ item|capitalize }}</span></a>
                    {% else %}
                        <a href='/{% if item != 'blog' %}{{ item }}/{% endif %}'><img src='/images/{{ item }}.png' alt='{{ item|capitalize }} menu icon'><span> {{ item|capitalize }}</span></a>
                    {% endif %}
                {% endfor %}
                </nav>
            </div>
        </header>
        <div class='container'>
            <div class='content'>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            Copyright &copy; {{ beetle.now.strftime('%Y') }} <a href='/about/'>Jeppe Toustrup</a> unless otherwise noted.<br>
            Built using <a href='https://github.com/cknv/beetle'>Beetle</a>.
        </footer>
    </body>
</html>
