<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='/style.css'>
        <link rel='logo' href='/images/favicon.svg' type='image/svg+xml'>
        <link rel='icon' href='/images/favicon.svg' sizes='any' type='image/svg+xml'>
        <link rel='icon' href='/images/favicon.png' sizes='128x128' type='image/png'>
        <link rel='icon' href='/favicon.ico' sizes='16x16 32x32 48x48 64x64' type='image/x-icon'>
        <link rel='alternate' href='/feed.atom' type='application/atom+xml' title='Tenzer.dk Atom Feed'>
        <link rel='alternate' href='/feed.rss' type='application/rss+xml' title='Tenzer.dk RSS Feed'>
    </head>
    <body>
        <header>
            <div class='header-container'>
                <a href='/'>
                    <img id='logo' src='/images/tenzerdk.png' alt='Tenzer.dk logo'>
                </a>
                <nav>
                {% for item in ['blog', 'projects', 'about'] %}
                    {% if page.active_menu == item %}
                        <a href='/{% if item != 'blog' %}{{ item }}/{% endif %}' class='active'><img src='/images/{{ item }}-active.png' alt='{{ item|capitalize }} menu icon'><span> {{ item|capitalize }}</span></a>
                    {% else %}
                        <a href='/{% if item != 'blog' %}{{ item }}/{% endif %}'><img src='/images/{{ item }}.png' alt='{{ item|capitalize }} menu icon'><span> {{ item|capitalize }}</span></a>
                    {% endif %}
                {% endfor %}
                </nav>
            </div>
        </header>
        <div class='container'>
            <div class='content'>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            Copyright &copy; {{ beetle.now.strftime('%Y') }} <a href='/about/'>Jeppe Toustrup</a> unless otherwise noted.<br>
            Built using <a href='https://github.com/cknv/beetle'>Beetle</a>.
        </footer>
    </body>
</html>
